<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Vue Init Project</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Material+Icons"
    />
    <!-- <script src="vue-youtube/dist/vue-youtube.js"></script> -->
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId: '498173794022389',
          xfbml: true,
          version: 'v3.2',
        });
      };
    </script>
    <script
      async
      defer
      src="https://connect.facebook.net/en_US/sdk.js"
    ></script>
    <script
      async
      defer
      crossorigin="anonymous"
      src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v4.0&appId=498173794022389&autoLogAppEvents=1"
    ></script>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but sponsor doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
