<template>
  <div class="wrap-bubble">
    <div class="columns">
      <div
        class="column item"
        v-for="(item, indxe) in listBack"
        :class="item"
        @click="updateBackColor(item)"
        v-if="isExpanded"
      ></div>
      <div class="column item" v-if="isExpanded" @click="isExpanded = false">
        <span>◄</span>
      </div>
      <div class="column item" v-if="!isExpanded" @click="isExpanded = true">
        <span>►</span>
      </div>
    </div>
  </div>
</template>

<script>
const listBack = ['blue-back', 'white-back', 'pink-back', 'yellow-back'];
import { mapMutations } from 'vuex';

export default {
  components: {},
  data() {
    return {
      listBack,
      isExpanded: false,
    };
  },
  methods: {
    ...mapMutations({ updateBackColor: 'updateBackColor' }),
  },
};
</script>

<style lang="scss" scoped>
.wrap-bubble {
  border-radius: 10px;
  height: 50px;
  border: 1px solid #ffffff61;
  position: fixed;
  bottom: 15px;
  left: 15px;
  -webkit-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  .columns {
    background: #f0f8ff12;
  }
  .item {
    margin: 10px;
    height: 32px;
    width: 32px;
    border-radius: 1000px;
    border: 1px solid #ffffff61;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff6b;
  }
}
</style>;