<template>
  <div class="wrap-bubble" v-if="getModalData.show">
    <div class="speech-bubble" :class="getClassType">
      <span v-text="getModalData.message"></span>
    </div>
  </div>
</template>

<script>
const listBack = ['blue-back', 'white-back', 'pink-back', 'yellow-back'];
import { mapMutations, mapGetters } from 'vuex';
import classnames from 'classnames';

export default {
  components: {},
  data() {
    return {
      listBack,
    };
  },
  computed: {
    ...mapGetters({
      getModalData: 'getModalData',
    }),
    getClassType() {
      switch (this.getModalData.type) {
        case 'error':
          return classnames('error-text');
        case 'warning':
          return classnames('warning-text');
        default:
          return classnames('success-text');
      }
    },
  },
  methods: {
    ...mapMutations({ updateBackColor: 'updateBackColor' }),
  },
};
</script>

<style lang="scss" scoped>
.wrap-bubble {
  border-radius: 10px;
  height: 50px;
  width: 250px;
  position: fixed;
  top: 10%;
  right: 15px;
  -webkit-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  .error-text {
    background: #dd2c00;
  }
  .error-text:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-left-color: #dd2c00;
  }
  .warning-text {
    background: orange;
  }
  .warning-text:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-left-color: orange;
  }
  .success-text {
    background: #26a69a;
  }
  .success-text:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-right: 0;
    margin-top: -10px;
    margin-right: -10px;
    border-left-color: #26a69a;
  }
  .speech-bubble {
    position: relative;
    border-radius: 0.4em;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      padding: 15px 20px;
      text-transform: uppercase;
      font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial,
        sans-serif;
      font-size: 14px;
      text-shadow: 2px 2px 2px #7b7b7b45;
    }
  }
}
</style>;