<template>
  <header>
    <div class="wrap-header">
      <div class="block-logo">
        <img src="http://pingusenglish.ac.th/wp-content/uploads/2016/06/logo.png" />
      </div>
      <div class="block-list">
        <span @click="goToRoute('main_page')">Main</span>
        <span @click="goToRoute('post_page')">Post</span>
        <span @click="goToRoute('error_page')">Error</span>
        <span @click="loginFb" v-if="!getUserNameFb && !getTokenFb">Login</span>
        <span class="username ml-3" v-else>
          {{getUserNameFb}}
          <span @click="logout">(Logout)</span>
        </span>
      </div>
    </div>
  </header>
</template>

<script>
import { mapGetters, mapMutations } from 'vuex';

export default {
  components: {},
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      getUserNameFb: 'getUserNameFb',
      getTokenFb: 'getTokenFb',
    }),
  },
  methods: {
    ...mapMutations({
      initAccessTokenFb: 'initAccessTokenFb',
      updateUsernameFb: 'updateUsernameFb',
    }),
    loginFb() {
      FB.login(async response => {
        if (response.status === 'connected') {
          this.initAccessTokenFb(response.authResponse.accessToken);
          alert('Login Successfully!');
          await FB.api('/me', responseUser => {
            this.updateUsernameFb(responseUser.name);
          });
        }
      });
    },
    logout() {
      const emptyField = '';
      this.initAccessTokenFb(emptyField);
      this.updateUsernameFb(emptyField);
    },
  },
  async created() {},
  watch: {},
};
</script>

<style lang="scss" scoped>
.wrap-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .block-logo {
    img {
      max-height: 52px;
    }
  }
  .block-list {
    padding: 15px 0px;
    span {
      color: white;
      font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial,
        sans-serif;
      font-size: 13px;
      font-weight: 700;
      text-decoration-color: rgb(31, 38, 103);
      text-decoration-style: solid;
      text-rendering: optimizelegibility;
      text-transform: uppercase;
      margin-right: 40px;
      opacity: 1;
      cursor: pointer;
    }
    .username {
      font-style: italic;
      span {
        font-size: 11px;
        opacity: 0.8;
        text-decoration: underline;
      }
    }
    .username:hover {
      text-decoration: none;
      opacity: 1;
    }
    span:hover {
      // font-size: 14px;
      opacity: 0.6;
      transition: ease-in 0.5s;
    }
  }
}
</style>;
