<template>
  <div class="wrap-page">
    <div class="block-title">
      <span>Error Library</span>
    </div>
    <div class="block-content columns">
      <div class="block-create column is-4">
        <div class="block-form">
          <span>Word</span>
          <v-text-field
            placeholder="Type error word..."
            rounded
            solo
            outlined
            :light="true"
            :dark="false"
            v-model="formData.word"
          ></v-text-field>
          <span>Description</span>
          <v-textarea
            outlined
            rounded
            solo
            :light="true"
            :dark="false"
            placeholder="Type error description..."
            v-model="formData.description"
          ></v-textarea>
          <span>Priority</span>
          <v-select
            :items="listPriority"
            :light="true"
            :dark="false"
            placeholder="Select error priority"
            solo
            v-model="formData.priority"
          ></v-select>
        </div>
        <span
          class="note-text"
        >***Note: If you have the blank Word field, please follow this format: [Word - Description] on Description field.</span>
        <div class="block-btn">
          <v-btn color="info" @click="newError" v-text="isEditMode ? 'Edit' : 'Create'"></v-btn>
          <v-btn color="error" @click="clearForm">Clear</v-btn>
        </div>
      </div>
      <div class="block-list column is-8">
        <v-text-field
          placeholder="Search data in table"
          rounded
          solo
          outlined
          :light="true"
          :dark="false"
          append-icon="search"
          v-model="currentSearchText"
          @keyup="searchListError"
        ></v-text-field>
        <data-tables :data="listError">
          <el-table-column prop="word" label="Word" sortable="custom" width="200"></el-table-column>
          <el-table-column prop="description" label="Description" sortable="custom"></el-table-column>
          <el-table-column prop="priority" label="Priority" sortable="custom" width="200"></el-table-column>
          <el-table-column label="Actions" width="200">
            <template slot-scope="scope">
              <v-icon small class="mr-2" @click="handleItem(scope.row)">edit</v-icon>
              <v-icon small @click="removeError(scope.row)">delete</v-icon>
            </template>
          </el-table-column>
        </data-tables>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import debounce from 'lodash/debounce';
import cloneDeep from 'lodash/cloneDeep';

const initFormData = { word: '', description: '', priority: 3 };

export default {
  components: {},
  data() {
    return {
      listPriority: [1, 2, 3, 4, 5],
      currentSearchText: '',
      listError: [],
      formData: initFormData,
      isEditMode: false,
      tableData: [],
    };
  },
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({
      getListError: 'getListError',
      createError: 'createError',
      deleteError: 'deleteError',
      updateError: 'updateError',
    }),
    ...mapMutations({}),
    handleItem(item) {
      this.formData = item;
      this.isEditMode = true;
    },
    async initListError() {
      const resErrorList = await this.getListError(this.currentSearchText);
      if (resErrorList.ok) {
        this.listError = resErrorList.data;
      } else {
        this.alert({ type: 'warning', message: 'Something went wtrong!' });
      }
    },

    searchListError: debounce(function(e) {
      this.initListError();
    }, 500),
    async newError() {
      if (!this.isEditMode) {
        const respone = await this.createError(this.formData);
        if (respone.ok) {
          this.alert({ type: 'success', message: 'Create successfully!' });
          this.formData = {
            word: '',
            description: '',
            priority: this.formData.priority,
          };
          this.isEditMode = false;
          this.initListError();
        } else {
          this.alert({ type: 'warning', message: 'Something went wtrong!' });
        }
      } else {
        const respone = await this.updateError(this.formData);
        if (respone.ok) {
          this.alert({ type: 'success', message: 'Edit successfully!' });
          this.initListError();
        } else {
          this.alert({ type: 'warning', message: 'Something went wtrong!' });
        }
      }
    },
    async removeError(item) {
      const respone = await this.deleteError(item.id);
      if (respone.ok) {
        this.alert({ type: 'error', message: 'Remove successfully!' });
        this.initListError();
        this.formData = {
          word: '',
          description: '',
          priority: this.formData.priority,
        };
        this.isEditMode = false;
      } else {
        this.alert({ type: 'warning', message: 'Something went wtrong!' });
      }
    },
    clearForm() {
      this.formData = {
        word: '',
        description: '',
        priority: this.formData.priority,
      };
      this.isEditMode = false;
    },
  },
  watch: {},
  async created() {
    this.initListError();
  },
};
</script>

<style lang="scss" scoped>
.note-text {
  color: #ffffff9c;
  font-size: 13px;
  font-style: italic;
  display: flex;
}

.wrap-page {
  .block-title {
    padding: 45px 0px;
    display: flex;
    justify-content: center;
    span {
      font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial,
        sans-serif;
      font-size: 17px;
      font-weight: 700;
      text-decoration-color: rgb(31, 38, 103);
      text-decoration-style: solid;
      text-rendering: optimizelegibility;
      text-transform: uppercase;
      color: white;
      border: 2px solid white;
      border-radius: 20px;
      padding: 10px 25px;
      text-decoration: underline;
      cursor: none;
    }
  }
  .block-content {
    .block-create {
      padding: 20px 60px;
      .block-form {
        span {
          color: white;
          font-weight: 700;
          margin-bottom: 2px;
          font-size: 13px;
          opacity: 0.7;
        }
      }
      .block-btn {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .block-list {
      padding: 30px 60px;
      .custom-table-list {
        background: white;
        width: 100%;
        border-radius: 5px;
        color: black;
        -webkit-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
        box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);

        thead {
          border-bottom: 1px solid #00000036;
          th {
            text-transform: uppercase;
            padding: 15px 13px;
          }
          .word {
            width: 15%;
          }
          .desc {
            width: 55%;
          }
          .prio {
            width: 15%;
          }
          .spec {
            width: 15%;
          }
        }
        tbody {
          height: 250px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}
</style>;
