<template>
  <div class="wrap-main-page">
    <div id="fb-root"></div>
    <div class="wrap-video columns">
      <div class="column is-6 block-video">
        <div
          class="fb-video"
          :data-href="currentLink.link"
          data-allowfullscreen="true"
          ref="facebookVid"
          id="my-video-player-id"
        ></div>
      </div>
      <!-- <youtube video-id="bW-OLcZ4tGY" ref="youtube" @paused="handlePaused"></youtube> -->
      <div class="block-list column is-6">
        <div class="wrap-table">
          <table class="custom-table">
            <thead>
              <tr>
                <th class="time">Time</th>
                <th>Error</th>
              </tr>
            </thead>
            <tbody v-if="currentLink.error.length">
              <tr v-for="(item,index) in currentLink.error" :key="index">
                <td v-text="`${getNumber(item.time)}s` || ''" class="time"></td>
                <td v-text="item.error ||''"></td>
                <td class="remove-text pl-2" @click="handleRemoveError(item,index)">Remove</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="wrap-result">
          <div class="info-group">
            <input v-model="currentLink.author" solo placeholder="Author (optional)" />
            <span v-text="`Total ${currentLink.error.length} errors`"></span>
            <textarea id="testing-code" :value="getCopyText" ref="clipboard" />
          </div>
          <div class="group-btn mt-2">
            <v-btn small color="info" @click="handlesaveButton">Save</v-btn>
            <v-btn small color="info" @click="handleCopyText">Copy to clipboard</v-btn>
            <v-btn small color="info" @click="handleExport">Export to Word File</v-btn>
            <v-btn small color="info">Comment on Facebook</v-btn>
          </div>
        </div>
      </div>
    </div>
    <div class="wrap-content columns">
      <div class="block-input column is-6">
        <span class="title-input">URL Video (Facebook,...)</span>
        <div class="block-error">
          <v-text-field
            label="Link video"
            v-model="tempVideo"
            solo
            placeholder="Paste a URL Facebook video ..."
            outlined
            :light="true"
            :dark="false"
          ></v-text-field>
          <v-btn class="ml-3 mb-4" small color="info" @click="changeLinkVideo">Change</v-btn>
          <!-- <v-btn small color="info" @click="setDefaultVideo">Default</v-btn> -->
        </div>
        <span class="mt-5 title-input">Error</span>
        <div class="block-error">
          <v-autocomplete
            v-model="currentError"
            placeholder="Select error ..."
            :items="listError"
            filled
            rounded
            solo
            outlined
            :light="true"
            :dark="false"
            :clearable="true"
            item-text="full_text"
            item-value="id"
            return-object
          ></v-autocomplete>
          <v-btn class="ml-3 mb-4" small color="info" @click="handlePushError">Push</v-btn>
        </div>
        <span class="mt-5 title-input">Error (manually)</span>
        <div class="block-error">
          <v-textarea
            outlined
            rounded
            solo
            :light="true"
            :dark="false"
            placeholder="Type error or note..."
            height="200"
            v-model="currentErrorMan"
          ></v-textarea>
          <div class="group-btn">
            <v-btn small color="info" @click="manPush">Push</v-btn>
            <v-btn class small color="info" @click="pushAndLink">Push & Link</v-btn>
            <v-btn class="mb-4" small color="info" @click="newError">Create</v-btn>
          </div>
        </div>
      </div>
      <div class="block-input column is-6">
        <span class="title-input">Post</span>
        <div class="block-error">
          <v-autocomplete
            v-model="currentPost"
            placeholder="Select post ..."
            :items="listPost"
            filled
            rounded
            solo
            outlined
            :light="true"
            :dark="false"
            :clearable="true"
            item-text="name"
            item-value="id"
            return-object
          ></v-autocomplete>
        </div>
        <div class="block-error">
          <v-textarea
            outlined
            rounded
            solo
            :light="true"
            :dark="false"
            placeholder="Content of post selected will be here"
            height="320"
            readonly
            v-model="currentPost.content"
          ></v-textarea>
        </div>
        <div class="block-btn-post">
          <v-btn small color="info" @click="currentPost={}">Clear</v-btn>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex';
import { isEmpty } from 'lodash';

export default {
  components: {},
  data() {
    return {
      listError: [],
      listPost: [],
      currentError: {},
      currentPost: {},
      currentResult: 100,
      currenTime: 0,
      tempVideo: 'https://www.facebook.com/gamehub.vn/videos/3127993017276133/',
      videoPlayer: {},
      currentErrorMan: '',
      currentLink: {
        link: '',
        error: [],
        author: '',
      },
    };
  },
  computed: {
    ...mapGetters({
      getUserNameFb: 'getUserNameFb',
      getTokenFb: 'getTokenFb',
    }),
    getCopyText() {
      let resultString = '';
      this.currentLink.error.map((item, index) => {
        if (index === 0)
          resultString = `${resultString}${item.time}s: ${item.error}`;
        else resultString = `${resultString}\n${item.time}s: ${item.error}`;
      });
      return resultString;
    },
  },
  methods: {
    ...mapMutations({
      initAccessTokenFb: 'initAccessTokenFb',
      updateUsernameFb: 'updateUsernameFb',
    }),
    ...mapActions({
      listAllError: 'listAllError',
      listAllPost: 'listAllPost',
      createError: 'createError',
      createErrorNote: 'createErrorNote',
      getPostError: 'getPostError',
      createLink: 'createLink',
      getLinkVideo: 'getLinkVideo',
      updateLink: 'updateLink',
      exportError: 'exportError',
    }),
    // Init Function
    async resetInitData() {
      const resListError = await this.listAllError();
      const resListPost = await this.listAllPost();
      if (resListError.ok && resListPost.ok) {
        this.listError = resListError.data;
        this.listPost = resListPost.data;
      }
    },
    getNumber(number) {
      if (!number) return number;
      return number.toFixed(2);
    },
    compare(a, b) {
      if (a.time < b.time) {
        return -1;
      }
      if (a.time > b.time) {
        return 1;
      }
      return 0;
    },
    // Export Function
    async handleExport() {
      let dataExport = {
        author: this.currentLink.author,
        post: this.currentPost.name ? this.currentPost.name : '',
        error: this.currentLink.error,
      };
      const res = await this.exportError(dataExport);
      if (res.ok)
        return this.alert({ type: 'success', message: 'Export successfully!' });
      else this.alert({ type: 'error', message: 'Export unsuccessfully!' });
    },
    handleCopyText() {
      let testingCodeToCopy = document.querySelector('#testing-code');
      testingCodeToCopy.setAttribute('type', 'text'); // 不是 hidden 才能複製
      testingCodeToCopy.select();

      try {
        var successful = document.execCommand('copy');
        var msg = successful ? 'successful' : 'unsuccessful';
        return this.alert({
          type: 'success',
          message: `Copy ${msg}`,
        });
      } catch (err) {
        return this.alert({
          type: 'error',
          message: `Copy unsuccessfully!`,
        });
      }

      /* unselect the range */
      testingCodeToCopy.setAttribute('type', 'hidden');
      window.getSelection().removeAllRanges();
    },
    // Error Function
    handlePushError() {
      if (!isEmpty(this.videoPlayer)) {
        if (this.videoPlayer.getCurrentPosition())
          this.currenTime = this.videoPlayer.getCurrentPosition();
      }
      if (!this.currenTime)
        return this.alert({
          type: 'warning',
          message: `Video hasn't played yet!`,
        });
      if (isEmpty(this.currentError))
        return this.alert({
          type: 'warning',
          message: 'Please select the error!',
        });
      this.currentLink.error.push({
        time: this.currenTime,
        error: this.currentError.full_text,
      });
      this.currentLink.error = this.currentLink.error.sort(this.compare);
    },
    handleRemoveError(item, index) {
      this.currentLink.error.splice(index, 1);
    },
    manPush() {
      if (!this.currenTime)
        return this.alert({
          type: 'warning',
          message: `Video hasn't played yet!`,
        });
      if (!this.currentErrorMan)
        return this.alert({
          type: 'warning',
          message: `The error can not be blank!`,
        });
      this.currentLink.error.push({
        time: this.currenTime,
        error: this.currentErrorMan,
      });
      this.currentLink.error = this.currentLink.error.sort(this.compare);
    },
    async newError() {
      const respone = await this.createError({
        description: this.currentErrorMan,
        priority: 5,
      });
      if (respone.ok) {
        this.alert({ type: 'success', message: 'Create successfully!' });
        this.resetInitData();
      } else {
        this.alert({ type: 'warning', message: 'Wrong format!' });
      }
    },
    async pushAndLink() {
      if (!this.currenTime)
        return this.alert({
          type: 'warning',
          message: `Video hasn't played yet!`,
        });
      if (!this.currentErrorMan)
        return this.alert({
          type: 'warning',
          message: `The error can not be blank!`,
        });
      if (isEmpty(this.currentPost))
        return this.alert({
          type: 'warning',
          message: `Post can not be blank for this feature!`,
        });
      const respone = await this.createErrorNote({
        post_id: this.currentPost.id,
        description: this.currentErrorMan,
        priority: 5,
      });
      if (respone.ok) {
        this.currentLink.error.push({
          time: this.currenTime,
          error: this.currentErrorMan,
        });
        this.alert({ type: 'success', message: 'Create successfully!' });
        this.resetInitData();
      } else {
        this.alert({ type: 'warning', message: 'Wrong format!' });
      }
    },
    // Link Function
    async changeLinkVideo() {
      FB.XFBML.parse();
      this.currentLink.link = this.tempVideo;
      const res = await this.getLinkVideo(this.tempVideo);
      if (res.ok && !isEmpty(res.data)) {
        this.currentLink = res.data;
      } else {
        this.currentLink.error = [];
        this.currentLink.author = '';
      }
    },
    async handlesaveButton() {
      // Edit Mode
      if (!this.currentLink.error.length)
        return this.alert({
          type: 'error',
          message: 'List error must not be blank!',
        });
      if (this.currentLink.id) {
        const res = await this.updateLink(this.currentLink);
        if (res.ok) {
          this.alert({ type: 'success', message: 'Save successfully!' });
        }
      }
      // New Link Mode
      else {
        const res = await this.createLink(this.currentLink);
        if (res.ok) {
          this.currentLink = res.data;
          this.alert({ type: 'success', message: 'Save successfully!' });
        }
      }
    },
    // Test Function
    // testBtn() {
    //   FB.api(`/694630647612937?access_token=${this.getTokenFb}`, function(
    //     response
    //   ) {
    //     console.log('TCL: testBtn -> response', response);
    //     if (response && !response.error) {
    //       /* handle the result */
    //     }
    //   });
    // },
  },
  watch: {
    // Post Changes
    currentPost: {
      handler: async function(newVal) {
        if (newVal.id) {
          const resListError = await this.getPostError({ post_id: newVal.id });
          if (resListError.ok) {
            this.listError = resListError.data;
          }
        } else {
          const resListError = await this.listAllError();
          if (resListError.ok) {
            this.listError = resListError.data;
          }
        }
      },
      deep: true,
    },
  },
  async created() {
    FB.Event.subscribe('xfbml.ready', async msg => {
      if (msg.type === 'video' && msg.id === 'my-video-player-id') {
        this.videoPlayer = msg.instance;
        this.videoPlayer.subscribe('paused', e => {
          if (this.videoPlayer.getCurrentPosition()) {
            this.currenTime = this.videoPlayer.getCurrentPosition();
          }
        });
        this.videoPlayer.subscribe('error', e => {
          this.alert({
            type: 'error',
            message: 'Something went wrong. Please refresh your page!',
          });
        });
      }
    });
    this.resetInitData();
  },
};
</script>

<style lang="scss">
.custom-table {
  tr {
    display: flex;
    align-items: center;
  }
  .time {
    width: 100px;
  }
  .remove-text {
    text-decoration: underline;
    font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial,
      sans-serif;
    font-size: 13px;
    color: gainsboro;
    cursor: pointer;
    opacity: 0.6;
  }
  .remove-text:hover {
    color: red;
    transition: ease-in 0.3s;
  }
}
.wrap-app {
}

//Resize Video Facebook
.fb-video {
  max-height: 40vh !important;
  span {
    max-height: 40vh !important;
  }
}

iframe {
  max-height: 40vh !important;
}
</style>;

<style lang="scss" scoped>
#testing-code {
  display: block;
  opacity: 0;
}

.title-input {
  color: white;
  font-weight: 700;
  font-size: 13px;
  opacity: 0.7;
}

.wrap-video {
  display: flex;
  justify-content: center;
  background-image: url('https://www.ligaosom.com.br/wp-content/gallery/wallpapers-english/wallpapers-english-3.jpg');
  background-size: cover;
  -webkit-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
  .block-btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .wrap-table {
      padding: 0px 35px;
      color: white;
      table {
        th {
          color: white;
          text-transform: uppercase;
        }
        thead,
        tbody {
          display: block;
        }
        tbody {
          height: 250px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
    .wrap-result {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px;
      align-items: center;
      flex-wrap: wrap;
      color: white;
      .info-group {
        display: flex;
        align-items: center;
        input {
          border-bottom: 1px solid;
          font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica,
            Arial, sans-serif;
          font-size: 13px;
        }
        span {
          margin-left: 10px;
          font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica,
            Arial, sans-serif;
          font-size: 13px;
          text-decoration: underline;
        }
      }
      .group-btn {
        display: flex;
        align-items: center;
      }
    }
  }
}
.wrap-content {
  padding: 15px;
  .block-input {
    padding: 0px 20px;
    .block-error {
      display: flex;
      align-items: center;
      span {
        padding: 15px;
        color: white;
      }
      .group-btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
    .block-btn-post {
      display: flex;
      justify-content: center;
    }
  }
}
</style>;
