<template>
  <div class="wrap-page">
    <div class="block-title">
      <span>Post Management</span>
    </div>
    <div class="block-content columns">
      <div class="block-create column is-4">
        <div class="block-form">
          <span>Name</span>
          <v-text-field
            placeholder="Type post name..."
            rounded
            solo
            outlined
            :light="true"
            :dark="false"
            v-model="formData.name"
          ></v-text-field>
          <span>Content</span>
          <v-textarea
            outlined
            rounded
            solo
            :light="true"
            :dark="false"
            placeholder="Type post content..."
            height="300"
            v-model="formData.content"
          ></v-textarea>
          <v-switch class="ma-2" v-model="formData.status" label="is Actived"></v-switch>
        </div>
        <div class="block-btn">
          <v-btn color="info" @click="newError" v-text="isEditMode ? 'Edit' : 'Create'"></v-btn>
          <v-btn color="error" @click="clearForm">Clear</v-btn>
        </div>
      </div>
      <div class="block-list column is-8">
        <v-text-field
          placeholder="Search data in table"
          rounded
          solo
          outlined
          :light="true"
          :dark="false"
          append-icon="search"
          v-model="currentSearchText"
          @keyup="searchListError"
        ></v-text-field>
        <data-tables :data="listError">
          <el-table-column prop="name" label="Name" sortable="custom" width="300"></el-table-column>
          <el-table-column label="Content" sortable="custom">
            <template slot-scope="scope">
              <span v-text="getContentLimit(scope.row.content)"></span>
            </template>
          </el-table-column>
          <el-table-column label="Status" sortable="custom" width="200">
            <template slot-scope="scope">
              <v-chip dark :color="scope.row.status === 1 ? 'success' : 'error'">Actived</v-chip>
            </template>
          </el-table-column>
          <el-table-column label="Actions" width="200">
            <template slot-scope="scope">
              <v-icon small class="mr-2" @click="handleItem(scope.row)">edit</v-icon>
              <v-icon small @click="removeError(scope.row)">delete</v-icon>
            </template>
          </el-table-column>
        </data-tables>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapMutations, mapGetters } from 'vuex';
import debounce from 'lodash/debounce';
import cloneDeep from 'lodash/cloneDeep';

const initFormData = { name: '', content: '', status: 1 };
export default {
  components: {},
  data() {
    return {
      currentSearchText: '',
      listError: [],
      formData: initFormData,
      isEditMode: false,
      tableData: [],
    };
  },
  computed: {
    ...mapGetters({}),
  },
  methods: {
    ...mapActions({
      getListPost: 'getListPost',
      createPost: 'createPost',
      deletePost: 'deletePost',
      updatePost: 'updatePost',
    }),
    ...mapMutations({}),
    handleItem(item) {
      this.formData = item;
      this.isEditMode = true;
    },
    async initListError() {
      const resErrorList = await this.getListPost(this.currentSearchText);
      if (resErrorList.ok) {
        this.listError = resErrorList.data;
      } else {
        this.alert({ type: 'warning', message: 'Something went wtrong!' });
      }
    },

    searchListError: debounce(function(e) {
      this.initListError();
    }, 500),
    async newError() {
      if (!this.isEditMode) {
        const respone = await this.createPost(this.formData);
        if (respone.ok) {
          this.alert({ type: 'success', message: 'Create successfully!' });
          this.formData = {
            name: '',
            content: '',
            status: this.formData.status,
          };
          this.isEditMode = false;
          this.initListError();
        } else {
          this.alert({ type: 'warning', message: 'Something went wtrong!' });
        }
      } else {
        const respone = await this.updatePost(this.formData);
        if (respone.ok) {
          this.alert({ type: 'success', message: 'Edit successfully!' });
          this.initListError();
        } else {
          this.alert({ type: 'warning', message: 'Something went wtrong!' });
        }
      }
    },
    async removeError(item) {
      const respone = await this.deletePost(item.id);
      if (respone.ok) {
        this.alert({ type: 'error', message: 'Remove successfully!' });
        this.initListError();
        this.formData = {
          name: '',
          content: '',
          status: this.formData.status,
        };
        this.isEditMode = false;
      } else {
        this.alert({ type: 'warning', message: 'Something went wtrong!' });
      }
    },
    clearForm() {
      this.formData = {
        name: '',
        content: '',
        status: this.formData.status,
      };
      this.isEditMode = false;
    },
    getContentLimit(string) {
      return `${string.substring(0, 100)}...`;
    },
  },
  watch: {},
  async created() {
    this.initListError();
  },
};
</script>

<style lang="scss" scoped>
.wrap-page {
  .block-title {
    padding: 45px 0px;
    display: flex;
    justify-content: center;
    span {
      font-family: 'Work Sans', 'Helvetica Neue', Helvetica, Helvetica, Arial,
        sans-serif;
      font-size: 17px;
      font-weight: 700;
      text-decoration-color: rgb(31, 38, 103);
      text-decoration-style: solid;
      text-rendering: optimizelegibility;
      text-transform: uppercase;
      color: white;
      border: 2px solid white;
      border-radius: 20px;
      padding: 10px 25px;
      text-decoration: underline;
      cursor: none;
    }
  }
  .block-content {
    .block-create {
      padding: 20px 60px;
      .block-form {
        span {
          color: white;
          font-weight: 700;
          margin-bottom: 2px;
          font-size: 13px;
          opacity: 0.7;
        }
      }
      .block-btn {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .block-list {
      padding: 30px 60px;
      .custom-table-list {
        background: white;
        width: 100%;
        border-radius: 5px;
        color: black;
        -webkit-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
        -moz-box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);
        box-shadow: 10px 10px 72px 10px rgba(0, 0, 0, 0.21);

        thead {
          border-bottom: 1px solid #00000036;
          th {
            text-transform: uppercase;
            padding: 15px 13px;
          }
          .word {
            width: 15%;
          }
          .desc {
            width: 55%;
          }
          .prio {
            width: 15%;
          }
          .spec {
            width: 15%;
          }
        }
        tbody {
          height: 250px;
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}
</style>;
