<template>
  <v-app class="wrap-app" :class="getBackColor" light>
    <MainHeader />
    <router-view />
    <BubbleColor />
    <BubbleMessage />
  </v-app>
</template>

<script>
import { listError } from '@/static/error';
import { mapGetters, mapMutations } from 'vuex';
import MainHeader from '@/components/layout/MainHeader';
import BubbleColor from '@/components/layout/BubbleColor';
import BubbleMessage from '@/components/layout/BubbleMessage';

export default {
  components: {
    MainHeader,
    BubbleColor,
    BubbleMessage,
  },
  data() {
    return {};
  },
  computed: {
    ...mapGetters({
      getBackColor: 'getBackColor',
    }),
  },
  methods: {
    ...mapMutations({
      initAccessTokenFb: 'initAccessTokenFb',
      updateUsernameFb: 'updateUsernameFb',
    }),
    async handlePaused() {
      // this.currenTime = await this.$refs.youtube.player.getCurrentTime();
      alert('pause');
    },
    handlePushError() {
      // if (!this.currenTime) return alert("Video haven't play yet");
      if (!this.currentError) return alert('Please select error');
      this.currentListError.push({
        time: this.currenTime,
        error: this.currentError,
      });
    },
    getNumber(number) {
      return number.toFixed(2);
    },
    loginFb() {
      FB.login(async response => {
        if (response.status === 'connected') {
          this.initAccessTokenFb(response.authResponse.accessToken);
          alert('Login Successfully!');
          await FB.api('/me', responseUser => {
            this.updateUsernameFb(responseUser.name);
          });
        }
      });
    },
    async changeLinkVideo() {
      FB.XFBML.parse();
      this.currentLinkVideo = this.tempVideo;
      this.currentListError = [];
    },
    testBtn() {
      // FB.getLoginStatus(async response => {
      //   console.log('TCL: testBtn -> response', response);
      // });
      // FB.api(
      //   '/765542357228876/comments',
      //   'POST',
      //   {
      //     message: 'This is a test comment',
      //   },
      //   function(response) {
      //     console.log('TCL: testBtn -> response', response);
      //     if (response && !response.error) {
      //       /* handle the result */
      //     }
      //   }
      // );
      FB.api(`/694630647612937?access_token=${this.getTokenFb}`, function(
        response
      ) {
        console.log('TCL: testBtn -> response', response);
        if (response && !response.error) {
          /* handle the result */
        }
      });
    },
    setDefaultVideo() {
      FB.XFBML.parse();
      this.currentLinkVideo =
        'https://www.facebook.com/facebook/videos/10153231379946729/';
      this.tempVideo =
        'https://www.facebook.com/facebook/videos/10153231379946729/';
      this.currentListError = [];
    },
  },
  async created() {
    await FB.Event.subscribe('xfbml.ready', async msg => {
      if (msg.type === 'video' && msg.id === 'my-video-player-id') {
        this.videoPlayer = msg.instance;
        this.videoPlayer.subscribe('paused', e => {
          this.currenTime = this.videoPlayer.getCurrentPosition();
        });
        this.videoPlayer.subscribe('startedBuffering', e => {
          this.currenTime = this.videoPlayer.getCurrentPosition();
        });
      }
    });
  },
  watch: {},
};
</script>

<style lang="scss">
@import '@/assets/styles/bulma.scss';
.custom-table {
  .time {
    width: 100px;
  }
}

//Resize Video Facebook
.fb-video {
  max-height: 378px !important;
  span {
    max-height: 378px !important;
  }
}

iframe {
  max-height: 378px !important;
}

.theme--light.v-label {
  color: white;
}

.el-pagination {
  padding: 15px 0px;
  background: white;
}

.v-input--selection-controls__input {
  .accent--text {
    color: #249c90 !important;
  }
}
</style>;


