@import '~bulma/sass/utilities/_all.sass';
@import '~bulma/sass/base/_all.sass';
@import '~bulma/sass/grid/columns.sass';

@import '~bulma/sass/components/navbar.sass';

// Override bulma styles
.columns {
  margin: 0;
  &.is-center {
    justify-content: center;
  }
}

.columns:last-child {
  margin-bottom: 0px;
}

.column {
  padding: 0;
}

.container {
  padding: 8px;
}

.blue-back {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  ) !important;
}

.white-back {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  ) !important;
}

.pink-back {
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  ) !important;
}

.yellow-back {
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  ) !important;
}
